.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
*.tar.gz
*.ddeb
*.o
*.dsc
*.buildinfo
*.changes
*.deb
*.log
*.trs
libtool
*~

rpmbuild/
debbuild/

