.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
*.tar.gz
simple-0.0.1/
*.ddeb
*.o
*.dsc
*.buildinfo
*.changes
*.deb
*.log
*.trs
*~

rpmbuild/
shtest-*/
*.debian.tar.xz

